<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <br/>
    <p>Anmol is very cute girl and best sister in the world. </p>
  </body>
</html>