<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <br/>
    <p>Myself Guraishbir singh, I am international student here in canada. I am from India. My aim is to become computer engineer. </p>
  </body>
</html>